body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.register-wrapper {
    display: flex;
    height: 100vh;
}

/* LEFT */
.left-panel {
    flex: 1.5;
    background-image: url('/public/img/contoh.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.welcome-card {
    background: rgba(255,255,255,0.18);
    backdrop-filter: blur(18px);
    border-radius: 18px;
    padding: 40px;
    width: 70%;
}

.logo {
    font-weight: 600;
    margin-bottom: 15px;
}

.welcome-title span {
    color: #0d58ff;
}

/* RIGHT */
.right-panel {
    flex: 1;
    background: #ffffff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 80px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -12px 0px 25px rgba(0,0,0,0.08);
}

.form-title {
    font-weight: 600;
    margin-bottom: 30px;
}

/* INPUT */
.form-control {
    border-radius: 50px !important;
    padding: 12px 18px;
}

/* BUTTON */
.register-btn {
    width: 100%;
    border-radius: 50px;
    padding: 12px;
    font-weight: 600;
    background: linear-gradient(to right, #000, #3a3a3a);
    color: white;
}

/* LOGIN TEXT */
.login-text {
    font-size: 14px;
}
