.footer {
    width: 100%;
    background: linear-gradient(90deg, #375A9E, #5F86BE);
    color: white;
    padding: 25px 0;
    border-radius: 10px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between; /* kiri - tengah - kanan */
    align-items: center;           /* ratakan tinggi */
    padding: 0 20px;
}

/* SUPAYA KIRI & KANAN TIDAK NARIK KE ATAS */
.footer-left,
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Biar vertikalnya pas */
}

.footer-center {
    text-align: center;
}

/* JUDUL FOOTER DI TENGAH */
.footer-center h3 {
    font-weight: 700;
    line-height: 28px;
    font-size: 22px;
    margin: 0;              /* kurangi tinggi footer */
}

.footer-center p {
    margin: 5px 0 0 0;     /* lebih kecil */
    font-size: 13px;
}

/* KANAN */
.footer-right h4 {
    margin-bottom: 8px;
}

.footer-right ul {
    list-style: disc;
    padding-left: 20px;
    margin: 0;
}
