body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: white;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.nav-menu a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav-menu a:hover {
    color: #2b70ff;
}

/* SEARCH */
.search-box {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #f1f1f1;
    padding: 7px 12px;
    border-radius: 12px;
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
}

.hero-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; /* biar hero kotaknya ada di tengah */
}

.hero{
    width: 100%;
    max-width: 1500px; 
    height: 600px;
    background: url('../img/bg-home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-box {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 50px 60px;
    margin-left: 80px;
    margin-right: 20px;

    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    color: #fff;
}

.hero h1 {
    width: 45%;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero p {
    width: 45%;
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 20px;
}

.btn-pertama {
    padding: 10px 20px;
    background: #2b70ff;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.btn-kedua {
    padding: 10px 20px;
    background: #ffffff00;
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
}

/* ITEM POPULER */
.section-title {
    font-size: 24px;
    font-weight: 700;
    margin: 30px auto 10px;
    padding-left: 20px;
}

.item-section {
    display: flex;
    padding-left: 150px;
    padding-right: 20px;
    overflow-x: auto; /* supaya bisa scroll */
}

.item-scroll {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap; /* biar ga turun ke bawah */
}

.item-card {
    flex: 0 0 auto; /* wajib supaya horizontal */
    width: 170px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    background: linear-gradient(to top, #007fff30, #fff);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.item-img { 
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-bottom: 10px;
}

.item-title {
    font-size: 15px;
    font-weight: 500;
}


/* KATEGORI */
.kategori-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.kategori-card {
    flex: 1 1 calc(25% - 20px);
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

@media(max-width: 768px){
    .kategori-card {
        flex: 1 1 100%;
    }

    .hero h1, .hero p {
        width: 100%;
    }
}
